@model Test.Models.DataBaseViewModel
@{
    ViewData["Title"] = "AddChambers";
}
<div>
	<form method="post" asp-action="Calculation">
		<div class="col-12 text-center">
			<p>План № <input asp-for="PlanID" type="number" size="2" name="planID" min="@Model.PlanID" max="@Model.PlanID" value="@Model.PlanID"></p>
			<p>
				Порода =
				<select asp-for="TreeSpecies" name="treeSpecies">
					<option>Сосна</option>
					<option>Ель</option>
					<option>Кедр</option>
					<option>Лиственница</option>
				</select>
			</p>
			<p> Загрузить в камеру <input asp-for="CameraId" type="number" size="2" name="cameraId" min="1" max="@Model.CameraValueId" value="1"></p>

			<table style="width:1200px; margin: auto">
				<tr>
					<td><p> Начальная <input asp-for="StartDamp" type="number" size="2" name="startDamp" min="25" max="120" value="60"></p></td>
					<td>
						<p>
							S1 =
							<select asp-for="S1" name="s1">
								<option>22</option>
								<option>25</option>
								<option>32</option>
								<option>40</option>
								<option>50</option>
							</select>
						</p>
					</td>
					<td><p> Скорость воздуха <input asp-for="MoveAir" type="number" size="2" name="moveAir" min="1.5" max="3" value="1.5" step="0.5"></p></td>
				</tr>
				<tr>
					<td><p> Конечная <input asp-for="EndDamp" type="number" size="2" name="endDamp" min="6" max="22" value="16"></p></td>
					<td>
						<p>
							S2 =
							<select asp-for="S2" name="s2">
								<option>75</option>
								<option>100</option>
								<option>125</option>
								<option>150</option>
								<option>175</option>
								<option>200</option>
								<option>250</option>
								<option>300</option>
							</select>
						</p>
					</td>
					<td>
						<select asp-for="domainCirculation" type="text" name="domainCirculation">
							<option>Реверсивная</option>
							<option>Нереверсивная</option>
						</select>
					</td>
				</tr>
				<tr>
					<td />
					<td />
					<td><p> Ширина штабеля <input asp-for="numericStacks" type="number" size="2" name="numericStacks" min="0.5" max="3" value="3" step="0.5"></p></td>
				</tr>
			</table>

		</div>


		<div class="py-4 col-12 text-center">
			<table style="width:800px; margin: auto">
				<tr>
					<td>Ступень 1</td>
					<td>
						<p>
							tc, C
							<select asp-for="Tc1" name="tc1">
								<option>60</option>
								<option>65</option>
								<option>70</option>
							</select>
						</p>
					</td>
					<td>
						<p>dt,C <input asp-for="DtC1" type="number" size="2" name="dtc1" min="3" max="9" value="8"></p>
					</td>
				</tr>
				<tr>
					<td>Ступень 2</td>
					<td>
						<p>
							tc, C
							<select asp-for="Tc2" name="tc2">
								<option>65</option>
								<option>70</option>
								<option>75</option>
							</select>
						</p>

					</td>
					<td>
						<p>dt,C <input asp-for="DtC2" type="number" size="2" name="dtc2" min="7" max="15" value="15" /></p>
					</td>
				</tr>
				<tr>
					<td>Ступень 3</td>
					<td>
						<p>
							tc, C
							<select asp-for="Tc3" name="tc3">
								<option>70</option>
								<option>75</option>
							</select>
						</p>
					</td>
					<td>
						<p>dt,C   <input asp-for="DtC3" type="number" size="2" name="dtc3" min="19" max="26" value="25" /></p>
					</td>
				</tr>
			</table>
			<div class="form-group text-center">
				<input type="submit" asp-action="Calculation" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>

