@using Test.Models
@model Test.Models.DataBaseViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3>Учет и планирование сушильного цеха</h3>	
</div>
<div>
    <hr />
    <section class="container">
        <div class="row">
            <div class="col-12 text-center">
				<div class="img-chamber text-center">
					<img src="~/images/Chamber.png" alt="chamber" style="width:100%;">
					<p class="span-text-img">
						Сборно-металлические алюминиевые камеры
					</p>
				</div>
            </div>
			<div class="col-12">
				<div class="col-12">
					<h3>Создать план на @DateTime.Now.AddMonths(1).ToString("MMMM")</h3>
				</div>
				<form method="post" asp-action="Index">
					<p>
						Количество камер <input asp-for="CamerValue" type="number" size="2" name="camerValue" min="2" max="20" value="5">
							<input type="submit" value="Создать" class="c-button-index" />
					</p>
				</form>
			</div>
        </div>

    </section>
</div>
