/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*Personal settings css*/
.img-chamber {
    position:relative;
}
.span-text-img {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 45px;
    top: 50%;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    background: rgb(92,74,74, 0.6);
    text-shadow: 2px 2px 4px black;
}
.c-button-index {
    min-width: 100px;
    border: 0;
    border-radius: 20px;
    background: rgb(241 146 31);
    color: #fff;
    padding: 6px 16px;
    font-size: 1rem;
    cursor: pointer;
}
.c-button-index:hover {
    background: rgb(178 115 0);
}

.c-button-index:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
/*Table*/
.container-table {
    width: 1300px;
    margin: auto;
    padding: 0 15px;
}
.mtb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.plan-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;

}
.plan-table th, .plan-table td {
    padding: 10px;
    border: 1px solid grey;
}
    .plan-table thead {
        background-color: #36304a;
        color: #fff;
    }
    .plan-table tbody {
        background-color: #fff;
    }

.plan-table td:first-child {
    width: 10%
}
/*Personal settings css*/
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgb(215 215 215);
    font-family: 'Open Sans', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

